/* The Style Sheet */

html {overflow-y: scroll;}
body 
{
	padding: 0;
	margin: 0;
	font-family: 'Lucida Sans', 'Helvetica', 'Sans-serif', 'sans';
	font-size: 77%;
	color: #777777;
	background-color: white;
	background-image: url('images/body-bg.png');
	background-repeat: repeat-x;
	background-position: bottom;
	background-attachment: fixed;
	height: 99%;
}

h1, h2, h3, h4, h5, h6
{
	font-weight: bold;
	margin: 0.67em 0px 0.67em 0px;
}

h1 {font-size: 197%;}
h2 {font-size: 153.9%;}
h3 {font-size: 131%;}
h4 {font-size: 93%;}
h5 {font-size: 85%;}
h6 {font-size: 77%;}

#header {background-image: url('images/header.png');}
#container 
{
	position: absolute;
	width: 1005px;
	margin-left: -502px;
	left: 50%;
}

#header 
{
        height: 15px;
	width: 1005px;
	background-repeat: no-repeat;
}

#content 
{
	background: url('images/background.png') repeat-y;
}

#endContent 
{
	clear: both;
}

#leftColumn 
{
	float: left;
	width: 193px;
	padding-top: 10px;
	margin-left: 10px;
	line-height: 1.8em;
}

#rightColumn 
{
	float: left;
	margin-left: 15px;
	width: 762px;
	text-align: left;
	line-height: 1.5em;
}

a {color: #777777; text-decoration: underline;}

#navigation 
{
	padding-left: 12px;
	font-weight: bold;
}

#navigation ul 
{
	margin: 0px;
	padding: 0px;
	margin-bottom: 10px;
}

#navigation li 
{
	list-style-type: none;
	margin-left: 15px;
	padding-left: 0px;
}

#navigation a 
{
	text-decoration: none;
	color: #777777;
}

#navigation h5 
{
	font-size: 1em;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

#footer 
{
	font-size: 11px;
	padding-left: 203px;
	height: 40px;
	text-align: center;
	background: url('images/footer.png') no-repeat;
}

