body {
    color: black;
    background: #ffffff;
    font-family: "lucida grande", Calibri, "segoe UI", "lucida sans unicode", "Droid Sans", "DejaVu Sans", "bitstream vera sans", verdana, arial, helvetica, sans-serif;
    margin: 0;
    font-size: 0.90em;
}

#content {
    color: black;
    background: #ffffff;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: auto;
    margin-left: auto;
    padding: 1em;
    line-height:1.3em;
    text-align: left;
    max-width:800px;
    min-width:740px; 
    position: relative;
}

#title h1 {
    text-align: left;
    margin-bottom: 8px;
    padding: 2px;
    padding-top: 10px;
    border-bottom: 1px solid #CCC;
}

#title i {
    color: #A9A9A9;
    font-size: 0.8em;
}

#breadcrums {
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 8px;
    padding: 0 4px;
}

h2 {
    font-weight: normal;
    margin-bottom: 8px;
    padding: 2px;
    padding-top: 10px;
    border-bottom: 1px solid #CCC;
}

a {
    text-decoration: none;
}

a,a:visited {
    color: #4183c4;
    background: inherit;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

#footer {
    font-size: 80%;
    border-top: 1px solid #CCC;
}

.footer-left {
    text-align: left;
    float: left;
    width: 49%;
}

.footer-right {
    display: block;
    text-align: right;
    float: right;
    width: 49%;
}

img {
    border-width: 0px;
}

.center {
    text-align: center;
}

.big {
    font-size: larger;
}

.small {
    font-size: small;
}

pre {
    font:0.85em Monaco, Consolas, 'Lucida Console', "Droid Sans Mono", "DejaVu Sans Mono", Courier, monospace;
    width:auto;
    overflow:auto;
    background-color:#eee;
    color:inherit;
    border:1px solid #999;
    line-height:1.3em;
    padding:1.2ex;
}


code {
    font: 0.97em Monaco, Consolas, 'Lucida Console', "Droid Sans Mono", "DejaVu Sans Mono", Courier, monospace;
    margin: 0 2px;
    padding: 0px 5px;
    border: 1px solid #EAEAEA;
    background-color: #F8F8F8;
    border-radius: 3px;
    white-space: nowrap;
}

fieldset {
    border: 1px dotted #bedce7;
    padding: 10px 15px;
    color: inherit;
}


h1 a {
    text-decoration: none;
}

